@use "./utilities";

@font-face {
    font-family: 'reenie_beanie';
    src: url('../fonts/reeniebeanie-regular-webfont.woff2') format('woff2'),
         url('../fonts/reeniebeanie-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: rgb(210,187,147, 0.9);
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    font-weight: normal;
}

h1, h2, h3 {
    text-decoration: wavy underline rgb(0,238,2);
    text-decoration-skip-ink: none;

    &.finished {
        text-decoration: line-through rgb(0,238,2);
    }
}

button {
    @extend %reset-appearance;

    cursor: pointer;
}

input:not([type="radio"]), textarea {
    @extend %reset-appearance;

    font-family: reenie_beanie; 
    font-size: 1.3rem;
}

fieldset {
    @extend %reset-appearance;
}

label, legend {
    font-weight: 600;
}

::selection {
    background-color: rgb(253,250,48);
    text-decoration-color: inherit;
}

#paper {
    max-width: 600px;
    position: relative;
    margin: 20px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgb(136, 136, 136);

    &::before {
        content: '';
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 40px;
        background-color: rgba(255,0,0,0.6);
    }

    .new-page-btn {
        position: absolute;
        top: 8px;
        right: 8px;

        &:hover {
            transform: scale(1.2);
        }
    }

    #pattern {
        height: 100%;
        background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);

        #content {
            padding-top: 6px;
            padding-left: 56px;
            padding-right: 16px;
            line-height: 25px;
            font-family: reenie_beanie, cursive;
            font-size: 19px;
            letter-spacing: 1px;
            word-spacing: 5px;

            .project-name {
                margin-left: 50%;
                transform: translateX(-25%);
            }
        }
    }
}

.add-todo-form {
    input[type="text"], textarea {
        outline-color: teal;
        outline-width: 1px;
        padding: 1px 4px;
        min-width: 75%;
        max-width: 75%;
    }

    textarea {
        min-height: 150px;
    }

    input[type="text"]:focus, textarea:focus {
        background-color: white;
    }

    input[type="radio"] {
        &#Low {
            accent-color: rgb(0, 238, 2);
        }

        &#Medium {
            accent-color: rgb(253, 250, 48);
        }

        &#High {
            accent-color: rgb(255, 101, 101);
        }
    }

    button {
        font-family: reenie_beanie;
        font-size: 1.3rem;
        width: fit-content;
        margin: 0 auto;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.todo {
    a {
        @extend %reset-appearance;
    }

    &.finished {
        text-decoration: line-through;
    }
}

.todo.priority-1::marker {
    color: rgb(0, 238, 2);
}

.todo.priority-2::marker {
    color: rgb(253, 250, 48);
}

.todo.priority-3::marker {
    color: rgb(255, 101, 101);
}
